<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap5.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />

    <title>Lista de proveedores</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="proveedorlista"><i class='bx bxs-user-circle' ></i>Proveedores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="productolista"><i class='bx bxs-category' ></i>Productos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="compralista"><i class='bx bxs-shopping-bag-alt'></i>Compras</a>
              </li>
          </ul>
          <form class="d-flex">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a onclick="return salir()" class="nav-link" href="login"><i class='bx bx-door-open bx-md '></i></a>
              </li>
            </ul>
          </form>
        </div>
      </div>
    </nav>
    <div class="container" style="display: flex; margin: 2em;  "> 
      <div style="padding: 20px;">
        <a href="/proveedoringreso" class="badge bg-primary text-wrap mt-3" style="width: 7rem; height:7rem; text-decoration:none; font-size: 17px;  "><i class="fas fa-user-plus size:7px "></i>Cree un nuevo proveedor</a>
      </div>
      <div style="padding: 20px;">
        <a href="/proveedorlista" class="badge bg-primary text-wrap mt-3" style="width: 7rem; height:7rem; text-decoration:none; font-size: 17px;"><i class="bx bxs-user-detail size:7px "></i>Lista de proveedores</a>
      </div>
      <div style="padding: 20px;">
        <a href="/productoingreso" class="badge bg-primary text-wrap mt-3" style="width: 7rem; height:7rem; text-decoration:none; font-size: 17px;"><i class="bx bxs-cart-add size:7px "></i>Cree un nuevo producto</a>
      </div>
      <div style="padding: 20px;">
        <a href="/productolista" class="badge bg-primary text-wrap mt-3" style="width: 7rem; height:7rem; text-decoration:none; font-size: 17px;"><i class="bx bxs-category"></i>Lista de productos</a>
      </div>
      <div style="padding: 20px;">
        <a href="/compraingreso" class="badge bg-primary text-wrap mt-3" style="width: 7rem; height:7rem; text-decoration:none; font-size: 17px;"><i class='bx bxs-shopping-bag-alt'></i>Cree una nueva orden de compra </a>
      </div>
      <div style="padding: 20px;">
        <a href="/compralista" class="badge bg-primary text-wrap mt-3" style="width: 7rem; height:7rem; text-decoration:none; font-size: 17px; "><i class='bx bx-list-ol'></i>Mostrar ordenes de compra </a>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap5.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.14.1/dist/sweetalert2.all.min.js"></script>
    <script>
      function salir() {
        alert("Está saliendo del sistema");
      }
    </script>
  </body>
</html>
